body {
  margin: 0;
}
.game-view {
  margin: 0 auto;
  width: 800px;
  border-radius: 5px;
}
h1 {
  text-align: center;
  font-size: 32px;
  color:#fff;
  background-color: #000;
  padding: 15px 0 5px 0;
  height: 50px;
  margin-bottom: 25px;
}
.clear {
  clear: both;
}
.scoreboard, .game-score-board {
  box-shadow: inset 0 0 15px #111;
  padding: 10px 0;
  float: left;
}
.scoreboard {
  margin-left: 35px;
  background-color: #eee;
  width: 400px;
}
.game-score-board {
  margin-left: 30px;
  background-color: #fff;
  width: 300px;
}
.scoreboard h2, .game-score-board h2 {
  text-align: center;
  margin: 0 0 15px 0;
}
.player-score, .computer-score, .tie-score {
  display: inline-block;
  text-align: center;
  font-size: 25px;
}
.player-score, .computer-score {
  width: 150px;
}
.tie-score {
  width: 100px;
}
.player-score span, .computer-score span, .tie-score span {
  font-size: 30px;
  padding-left: 5px;
}
.player-score span {
  color: blue;
}
.computer-score span {
  color: red;
}
.player-1-win, .player-2-win, .no-winner-tie {
  margin-top: -4px;
}
.player-1-win {
  border: 2px solid blue;
}
.player-2-win {
  border: 2px solid red;
}
.no-winner-tie {
  border: none;
}
table {
  border-spacing: 0;
  background-color: #ddd;
  box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
}
.board-view {
  margin: 50px auto 40px;
  font-size: 50px;
}
.board-view td {
  width: 80px;
  height: 75px;
  text-align: center;
}
.row-0 td, .row-1 td, .row-2 td, .row-3 td, .row-4 td {
  border-bottom: 2px solid #000;
}
.row-5 td, .row-4 td, .row-3 td, .row-2 td, .row-1 td {
  border-top: 2px solid #000;
}
.col0, .col1, .col2, .col3, .col4 {
  border-right: 2px solid #000;
}
.col5, .col4, .col3, .col2, .col1 {
  border-left: 2px solid #000;
}
.board-view .hidden{
  color: #ddd;
  text-indent: -9999px;
}
.playerBlue {
  color: blue;
}
.computerRed {
  color: red;
}
.end-game {
  position: absolute;
  top: 90px;
  left: 50%;
  width: 300px;
  height: 160px;
  margin-left: -150px;
  background-color: #fff;
  box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
  border: 2px solid #000;
  text-align: center;
}
.new-game-button {
  margin: 5px 90px;
  width: 120px;
  padding: 12px;
  border-radius: 10px;
  font-size: 1em;
  color: #d7d7d7;
  border: solid 1px #333;
  background: #333;
  background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
  background: -moz-linear-gradient(top, #666, #000);
}
.new-game-button:hover{
  background: #000;
  background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
  background: -moz-linear-gradient(top, #444, #000);
}
.hide {
  display: none;
}
.end-game h3 {
  font-size: 1.5em;
  margin: 15px;
}
.end-game h4 {
  font-size: 1.1em;
  margin: 10px;
}
